[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gapminder"]
	path = gapminder
	url = https://github.com/jennybc/gapminder
[submodule "repurrrsive"]
	path = repurrrsive
	url = https://github.com/jennybc/repurrrsive
